// Font
$root-font-family: "Hanken Grotesk";
$root-font-size: 16px;
$root-font-weight-light: 500;
$root-font-weight-medium: 700;
$root-font-weight-bold: 800;

// Color
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$light-slate-blue-background: hsl(252, 100%, 67%);
$light-royal-blue-background: hsl(241, 81%, 54%);
$violet-blue-circle: hsla(256, 72%, 46%, 1);
$persian-blue-circle: hsla(241, 72%, 46%, 0);
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

@mixin set-size($w, $h) {
  width: $w;
  height: $h;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight-light;
}

body {
  @include set-size(100vw, auto);

  main.card-container {
    @include set-size(100%, 100%);

    display: grid;
    grid-template-rows: 356px calc(809px - 356px);
    background: $white;

    section.result-summary {
      @include set-size(100%, 100%);

      border-radius: 0 0 35px 35px;
      background-image: linear-gradient(
        $light-slate-blue-background -20%,
        $light-royal-blue-background 90%
      );
      padding: 25px 60px 40px 60px;
      color: $white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h1.summary-topic {
        font-size: 1.2rem;
        font-weight: $root-font-weight-medium;
        color: $light-lavender;
      }

      div.result-score-box {
        @include set-size(140px, 140px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
          $violet-blue-circle -20%,
          $persian-blue-circle 110%
        );
        border-radius: 50%;

        p.result-score {
          font-size: 3.5rem;
          font-weight: $root-font-weight-bold;
        }

        p.total-score {
          color: $light-lavender;
        }
      }

      h2.result-feedback {
        font-size: 1.5rem;
        font-weight: $root-font-weight-bold;
        margin-bottom: -10px;
      }

      p.feedback-detail {
        color: $light-lavender;
      }
    }

    section.result-category {
      @include set-size(100%, 100%);

      padding: 22px 30px 30px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2.category-topic {
        font-size: 1.1rem;
        font-weight: $root-font-weight-medium;
        color: $dark-gray-blue;
        margin-bottom: 10px;
      }

      ul.category-container {
        li.category {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 18px;
          border-radius: 10px;
          margin-bottom: 15px;

          div.category__head {
            display: flex;
            align-items: center;

            img {
              margin-right: 10px;
            }
          }

          p.category__score {
            color: $dark-gray-blue;

            span.category__total-score {
              color: rgba($color: $dark-gray-blue, $alpha: 0.7);
            }
          }
        }

        li.category:first-child {
          background-color: rgba($color: $light-red, $alpha: 0.05);

          div.category__head p.category__name {
            color: $light-red;
          }
        }

        li.category:nth-child(2) {
          background-color: rgba($color: $orangey-yellow, $alpha: 0.05);

          div.category__head p.category__name {
            color: $orangey-yellow;
          }
        }

        li.category:nth-child(3) {
          background-color: rgba($color: $green-teal, $alpha: 0.05);

          div.category__head p.category__name {
            color: $green-teal;
          }
        }

        li.category:last-child {
          background-color: rgba($color: $cobalt-blue, $alpha: 0.05);

          div.category__head p.category__name {
            color: $cobalt-blue;
          }
        }
      }

      button.continue-btn {
        @include set-size(100%, 55px);

        background: $dark-gray-blue;
        outline: none;
        border: none;
        border-radius: 30px;
        color: $white;
        font-size: 1.1rem;
      }

      button.continue-btn:active,
      button.continue-btn:hover {
        cursor: pointer;
        background-image: linear-gradient(
          $light-slate-blue-background -20%,
          $light-royal-blue-background 90%
        );
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    main.card-container {
      @include set-size(737px, 512px);

      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      display: grid;
      grid-template-columns: 369px 1fr;
      grid-template-rows: 100%;
      border-radius: 35px;

      box-shadow: 0 30px 40px 20px rgba($color: $light-lavender, $alpha: 0.2);

      section.result-summary {
        border-radius: 35px;

        padding: 40px 60px 57px 60px;

        h1.summary-topic {
          font-size: 1.5rem;
          margin-bottom: 5px;
        }

        div.result-score-box {
          @include set-size(203px, 203px);

          p.result-score {
            font-size: 4.5rem;
            margin-bottom: -5px;
          }

          p.total-score {
            font-size: 1.1rem;
          }
        }

        h2.result-feedback {
          font-size: 2rem;
        }

        p.feedback-detail {
          font-size: 1.1rem;
        }
      }

      section.result-category {
        padding: 40px 40px 45px 40px;

        h2.category-topic {
          font-size: 1.5rem;
        }

        ul.category-container {
          @include set-size(100%, 272px);

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 20px;

          li.category {
            padding: 15px;
            margin: 0;

            div.category__head p.category__name,
            p.category__score,
            p.category__score span.category__total-score {
              font-size: 1.15rem;
            }

            div.category__head {
              display: flex;
              align-items: center;
            }

            p.category__score span.category__total-score {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
