* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
  font-size: 15px;
  font-weight: 500;
}

.red {
  background-color: rgba(255, 87, 87, 0.1);
  border-radius: 10px;
}
.red p.item-name {
  color: hsl(0, 100%, 67%);
}

.yellow {
  background-color: rgba(255, 176, 31, 0.1);
  border-radius: 10px;
}
.yellow p.item-name {
  color: hsl(39, 100%, 56%);
}

.green {
  background-color: rgba(0, 189, 145, 0.1);
  border-radius: 10px;
}
.green p.item-name {
  color: hsl(166, 100%, 37%);
}

.blue {
  background-color: rgba(17, 37, 212, 0.1);
  border-radius: 10px;
}
.blue p.item-name {
  color: hsl(234, 85%, 45%);
}

body {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 100%);
}
body main.summary-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 356px 1fr;
}
body main.summary-container section.summary-result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27px 40px 42px 40px;
  border-radius: 0 0 30px 30px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
}
body main.summary-container section.summary-result h1 {
  color: hsl(221, 100%, 96%);
  font-weight: 700;
}
body main.summary-container section.summary-result p.summary-result-in-circle {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  font-weight: 800;
  border-radius: 50%;
  padding: 30px;
  background-image: linear-gradient(hsl(256, 72%, 46%) 10%, hsla(241, 72%, 46%, 0));
  line-height: 3rem;
}
body main.summary-container section.summary-result p.summary-result-in-circle span {
  color: hsl(241, 100%, 89%);
}
body main.summary-container section.summary-result div h2.summary-detail {
  color: hsl(0, 0%, 100%);
}
body main.summary-container section.summary-result div p {
  color: hsl(221, 100%, 96%);
}
body main.summary-container section.summary-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
body main.summary-container section.summary-category h3 {
  font-weight: 700;
}
body main.summary-container section.summary-category ul {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main.summary-container section.summary-category ul li.item {
  width: 100%;
  height: 55px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
body main.summary-container section.summary-category ul li.item p.item-name {
  display: flex;
  align-items: center;
}
body main.summary-container section.summary-category ul li.item p.item-name img.item-icon {
  margin-right: 13px;
}
body main.summary-container section.summary-category ul li.item p.item-score span {
  color: rgba(48, 59, 90, 0.5);
}
body main.summary-container section.summary-category button {
  width: 100%;
  height: 55px;
  outline: none;
  border: none;
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  background: hsl(224, 30%, 27%);
}
body main.summary-container section.summary-category button:hover,
body main.summary-container section.summary-category button:active {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}